/*
! SINTAXE CSS3:
identificador seletor {
  propriedade: valor;
}
! INDENTIFICADORES:
. = classe
# = ID
Seletores são os elementos do HTML (p h1 h1) ou nome da classe/id
! PROPRIEDADES:
color, text-align, border, font-weight.......etc
*/

.main_blog {
  max-width: calc(1000px - 80px);
  width: calc(96% -80px);
  background-color: #ccc;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_blog header{
  flex-basis: 100%;
  background-color: aqua;
}

.main_blog article {
  flex-basis: calc(50% - 40px - 20px);
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin: 20px 0;

}

.main_blog article h3 {
  color: crimson !important;
}

.main_blog article p {
  font-size: 1em;
}

.title_medium_red {
  color:red;
  font-size: 1.2em;
  font-weight: bold;
}



/*Query de media, para fazer layout diferente em determinada resolução*/
@media(max-width: 640px){
  .main_blog article {
    flex-basis: calc(100% - 40px - 20px);
  }
}